.container_home {
    max-width: 600px;
    text-align: center;
    line-height: 2rem;
    margin: 5rem auto;
}

.title {
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

.text {
    text-indent: 20px;
    text-align: justify;
    font-size: 1.2rem;
}

.react{
    color: #2eb6dc;
    font-weight: bolder;
}
