.module_container{
    margin-bottom: 15rem;
}

.module_container h2, h3, h4{
    text-align: center;
    margin: 1.5rem auto;
}

.module_container p {
    text-align: justify;
    margin: 0 5rem 1rem;
    text-indent: 20px;
    line-height: 1.5rem;
}
