.module_container {
  max-width: 800px;
  margin: 10px auto;
}

.module_container h2,
h3,
h4,
ul {
  text-align: center;
  margin: 1.5rem auto;
}

.module_container p {
  text-align: justify;
  margin: 0 5rem 1rem;
  text-indent: 20px;
  line-height: 1.5rem;
}

#topo {
  text-decoration: none;
  color: white;
  background-color: #da781b;
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.421);
}
