ul,
ul li a,
nav a {
  color: #000;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.brand {
  text-decoration: none;
  color: #da781b;
  font-weight: bolder;
  font-size: 2.5em;
}

.links_list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 1em;
}

.links_list li a {
  font-weight: bold;
  padding: 0.4em 0.6em;
}

.active {
  background-color: #dadada;
  color: #da781b;
  border-radius: 5px;
}
