ul,
ul li a,
nav a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  color: #000;
}

.brand {
  text-decoration: none;
  color: #da781b;
  font-weight: bolder;
  font-size: 2.5em;
}

.links_list{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 1em;
}

.links_list li a{
    padding: .4em .6em;
}

.active {
    background-color: #dadada;
    color: #da781b;
    border-radius: 5px;
}
